<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>description</th>
        <th>created_at</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <% @entries.each do |entry|  %>
      <tr>
        <td>
          <a href="/entry/<%= entry[:entry_id] %>">
            <% if entry[:description].empty? %>
              <%= entry[:entry][0..10] %>
            <% else %>
              <%= entry[:description] %>
            <% end %>
          </a>
        </td>
        <td><%= entry[:created_at] %></td>
        <td>
          <form name="form" method="post" action="/admin/entry/<%= entry[:entry_id] %>/delete">
            <button class="btn btn-danger">DELETE</button>
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
